body, html {
    margin: 0;
    padding: 0;
    width: 100%;
  }

.custom-font{
    font-family: 'Orbit',cursive;
    font-size: 4em;
    background-color: white;
    display: inline-block;
    padding: 10px;
}
.header{
    text-align: center;
    margin-bottom: 0;
    padding: 50px;
}



.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 0;
    background-color:  #314dca;
}
.navbar-nav {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    max-width: 1200px;
}
.nav-item {
    flex: 1 ;
    flex-basis: 100px; 
    text-align: center;
}
.nav-link {
    padding: 10px 100px;
    border: 1px solid transparent;
    transition: background-color 0.3s, border-color 0.3s;
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
    font-size: 20px;
    color:azure
}
.nav-link:hover {
    background-color: #becbff;
    border: 1.5px solid #000000;
    color:#000
}
.btn{
    background-color: #becbff;
    color: #000;
    border: 1.5px solid #000;
    position: absolute;
    right: 5px;
}
.btn:hover{
    background-color: #314dca;
    font-weight: 600;
    color: white;
}




.subject-box {
    border: 2px solid #000; /* 이미지와 텍스트를 둘러싼 테두리 */
    border-radius: 5%;
    padding: 20px; /* 테두리와 내부 요소 사이의 간격 */
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.subject-img {
    height: auto;
    width: fit-content;
}

.subject-description {
    margin: 0; /* 문단의 기본 마진 제거 */
    font-size: 20px;
    font-family: "Orbit", sans-serif;
  }

.align-items-center {
    align-items: center;
}
  
.justify-content-center {
    justify-content: center;
    text-align: justify;
}

h2 {
    font-family: 'Do Hyeon', sans-serif;
    font-size: 40px;
}
h3 {
    font-family: 'Gamja Flower', cursive;
    font-size: 30px;
}
  


.footer {
    margin-top: auto; /* 자동으로 남은 공간을 채워서 페이지 하단에 위치 */
    background-color: #314dca;
    padding: 30px 0;
    margin: 0;
    width: 100%;
    position: absolute;
    left: 0;
    color: azure;
    text-align: center;
}