body {
  font-family: 'Do Hyeon', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

.footer{
  font-family: None;
}

h2 {
  margin-top: 50px;
  font-size: 50px;
}

.instructions {
  font-size: 1.5em;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  font-family: 'Orbit', cursive;
}

.file-upload {
  background-color: white;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  max-width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-upload-wrap {
  border: 2px dashed #007bff;
  border-radius: 10px;
  position: relative;
  padding: 20px;
  cursor: pointer;
}

.image-upload-wrap:hover {
  background-color: #f1f1f1;
}

.image-upload-wrap h3 {
  font-family: 'Orbit', cursive;
  color: #007bff;
}

.file-upload-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-image {
  max-width: 100%;
  margin: 20px 0;
}

.image-title-wrap {
  text-align: center;
}

.remove-image {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-image:hover {
  background-color: #c82333;
}

.progress-container {
  width: 400px;
  margin: 20px auto; /* 중앙 정렬을 위해 margin 수정 */
  text-align: left;
}

.bar-wrapper {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.label {
  width: 100px;
  text-align: right;
  margin-right: 15px;
  font-size: 16px;
  font-weight: bold;
}

.progress-bar {
  flex: 1;
  background-color: #e9ecef;
  border-radius: 5px;
  overflow: hidden;
  height: 30px;
  display: flex;
  align-items: left;
  position: relative;
}

.progress-bar-inner {
  height: 100%;
  text-align: left;
  padding-left: 10px;
  line-height: 30px;
  color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: width 0.5s ease;
  font-size: 16px;
}

.autistic {
  background-color: #ff4c4c;
}

.non-autistic {
  background-color: #28a745;
}

.percentage {
  padding-left: 10px;
  font-size: 16px;
  font-weight: bold;
}

#prediction-result {
  font-size: 1.5em; /* 폰트 크기 증가 */
  margin-top: 20px;
  margin-bottom: 30px;
}
